<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>TM | Login</title>
  </head>

  <body>
    <%- include('partials/dashboardHeader') %>
    <div class="container workspace">
      <div class="d-flex justify-content-between align-items-center py-4">
        <h6>My Workspaces</h6>

        <% if (role == 'Teacher') { %>

        <div>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Create new Workspace
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    New Workspace
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form class="add-new-workspace" action="/new-workspace" method="POST">
                    <div class="form-group">
                      <label class="py-2">Name</label>
                      <input
                        type="text"
                        required
                        class="form-control"
                        placeholder="Name"
                        value="First Workspace"
                        name="name"
                      />
                    </div>
                    <div class="form-group">
                      <label class="py-2">Description</label>
                      <input
                        type="text"
                        required
                        class="form-control"
                        placeholder="Description"
                        value="This is just for testing"
                        name="description"
                      />
                    </div>

                    <div class="form-group pb-3">
                      <label class="py-2">Select Student</label>
                      <select class="form-control" name="studentId">
                        <option value="">Select Student</option>
                        <% students.forEach((student) => { %>
                          <option value="<%= student.id %>"><%= student.username %></option>
                        <% }); %>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Create
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class="d-flex pt-5 workcard">

        <% workspaces.forEach((workspace) => { %>
          <div
            class="card text-dark bg-light mb-3 workspace-card"
            style="width: 18rem"
          >
            <div class="card-header bg-primary text-white"><%= workspace.name %></div>
            <div class="card-body">
              <p>Description: <%= workspace.description %></p>
              <p>10 Post, 5 Comment</p>
              <p>Student Name: <%= students.find((student) => student.id === workspace.student_id).username %></p>
              <a href="/myclass" type="button" class="btn btn-secondary">view</a>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
    <script src="js/add-new-workspace.js"></script>
  </body>
</html>
